.annotation {
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 0.75em;
}

.annotation--purple { border-left-color: var(--purple);  }
.annotation--cyan { border-left-color: var(--cyan); }
.annotation--green { border-left-color: var(--green); }
.annotation--orange { border-left-color: var(--orange); }
.annotation--pink { border-left-color: var(--pink); }

.annotation--track-a { border-left-color: var(--purple);  }
.annotation--track-b { border-left-color: var(--cyan); }
.annotation--track-c { border-left-color: var(--green); }
.annotation--track-d { border-left-color: var(--orange); }
.annotation--track-e { border-left-color: var(--pink); }
