:root {
  --button-text: #0042ff;
  --button-background: transparent;
  --button-text-invert: #ffffff;
  --button-background-invert: #ffffff;
  
  --button-primary-text: #ffffff;
  --button-primary-text-hovered: #ff3204;
  --button-primary-background: #ff3204;
  --button-primary-background-hovered: #ff6e5b;
  --button-primary-text-invert: #ff3204; 
  --button-primary-text-invert-active: #ff3204; 
  --button-primary-background-invert-active: #ffffff; 
  
  --button-secondary: #0042ff;
  --button-secondary-invert: #ffffff;
  --button-disabled-text: #c9c9c9;
  --button-disabled-background: #e6e6e6;
}

@mixin button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 1000px;
  outline: 0;
  cursor: pointer;
  
  & > :not(:last-child) {
    margin-right: 5px;
  }
  
  &, &:hover {
    color: inherit;
    text-decoration: none;
  }
}

@mixin button-colors ($color, $bg-color, $border-color: transparent) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
}

@mixin button-size ($font-size, $height, $padding-x) {
  font-size: $font-size;
  height: $height;
  padding-left: $padding-x;
  padding-right: $padding-x;
}

.button {
  @include button;
  @include button-size(16px, 40px, 20px);
  @include button-colors(var(--color), var(--background));
  &:hover { @include button-colors(var(--color-hover), var(--background-hover)); }
}

.outline-button {
  @include button;
  @include button-size(16px, 40px, 20px);
  @include button-colors(var(--secondary), transparent, var(--secondary));
  &:hover { @include button-colors(#fff, var(--secondary), transparent); }
}

// Sizes
.button--large { @include button-size(18px, 60px, 30px); }
.button--small { @include button-size(12px, 30px, 15px); }

// Colors
.button--primary {
  @include button-colors(#fff, #ff3204);
  &:hover { @include button-colors(#fff, #ff6e5b); }
}
.button--primary-invert {
  @include button-colors(#ff3204, #fff);
  &:hover { @include button-colors(#ff3204, #ffd6cd); }
}
.button--secondary {
  @include button-colors(#fff, #0042ff);
  &:hover { @include button-colors(#fff, #3790ff); }
}
.button--secondary-invert {
  @include button-colors(#0042ff, #fff);
  &:hover { @include button-colors(#0042ff, #ccd8fb); }
}
.button--github {
  @include button-colors(#fff, var(--github));
  &:hover { @include button-colors(#fff, var(--github-hover)); }
}
.button--facebook {
  @include button-colors(#fff, var(--facebook));
  &:hover { @include button-colors(#fff, var(--facebook-hover)); }
}
.button--twitter {
  @include button-colors(#fff, var(--twitter));
  &:hover { @include button-colors(#fff, var(--twitter-hover)); }
}

// State
.button[disabled],
.button--disabled {
  cursor: default;
  color: #c9c9c9 !important; 
  background-color: #e6e6e6 !important;
}