.field {
  border-color: #dedede;
}

.field-label {
  background-color: var(--silver);
  padding: 10px;
  flex: none;
}

.field-body {
  padding: 15px;
  background-color: #fff;
  flex: auto;
}

@include md {
 .field { display: flex; } 
 .field-label { flex: none; width: 200px; line-height: 2.5; } 
}