.hero {
  background-position: 50% 50%;
  background-size: cover;
  padding-top: var(--space-2);
}
.hero-title { margin-bottom: var(--space-3); }
.hero--primary { background-image: url(../images/hero/hero_bg_primary.png); }
.hero--secondary { background-image: url(../images/hero/hero_bg_primary.png); }

@include md {
  .hero {
    padding-top: var(--space-4);
  }
}