.mainvisual {
  position: relative;
  overflow: hidden;
  min-height: var(--mainvisual-min-height);
  max-height: var(--mainvisual-max-height);
  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: var(--mainvisual-padding);
  }
}

.mainvisual-content {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: var(--mainvisual-align);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mainvisual-image {
  display: block;
  position: relative;
  width: var(--mainvisual-image-width);
  top: var(--mainvisual-image-top);
}

.mainvisual-share {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: var(--mainvisual-share-top);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
  justify-content: var(--mainvisual-share-justify);
}

.mainvisual-background {
  position: absolute;
  z-index: 0;
  top: -100px;
  right: -100px;
  bottom: -100px;
  left: -100px;
}