.menu-trigger {
  font-size: 25px;
  position: relative;
  z-index: 100;
}

.header-menu {
  font-weight: bold;
  
  a, a:hover {
    color: inherit;
    text-decoration: none;
  }
}

.header-menu:not(.header-menu--mobile) {
  a:hover { color: var(--secondary) }
}

.header-menu--mobile {
  color: var(--white);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  ul {
    overflow: auto;
    padding: 100px 0;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    z-index: 1;
  }
  
  li { transform: translateY(0em) scale(1); }
  li:not(:last-child) { margin-bottom: 25px; }
  @for $i from 1 through 10 {
    li:nth-child(#{$i}) { transition-delay: 50ms * $i; }
  }
  
  .header-menu-bg {
    background-color: var(--secondary);
    border-radius: 50%;
    position: fixed;
    visibility: visible;
    left: 50%;
    top: 50%;
    width: 2000px;
    height: 2000px;
    margin-left: -1000px;
    margin-top: -1000px;
    transform: scale(1);
    z-index: 0;
  }
}

// Transition
.menu-enter-active {
  transition: all .4s;
  .header-menu-bg { transition: all .4s; }
  li { transition: all .35s cubic-bezier(0.165, 0.84, 0.44, 1); }
}
.menu-enter {
  .header-menu-bg { opacity: 0; transform: scale(0); }
  li { opacity: 0; transform: translateY(2em) scale(.8); }
}