.navbar {
  display: flex;
  align-items: center;
  flex: auto;
}

.navbar-brand {
  flex: none;
  img { display: block; }
}

.navbar-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-item:not(:first-child) { margin-left: 15px; }

@include md {
  .navbar-item:not(:first-child) { margin-left: 30px; }
}