.pagetop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: var(--secondary);
  background-color: var(--white);
  font-size: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 1.6px 0.4px rgba(0, 0, 0, 0.2);
  z-index: 100;
  text-decoration: none;
  cursor: pointer;
  
  &:hover {
    color: var(--secondary);
    background-color: #ccd8fb;
    text-decoration: none;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}