.section {
  padding-top: 35px;
  padding-bottom: 35px;  
}

.section-title {
  font-size: var(--h2);
  font-weight: bold;
  position: relative;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 50px;
  line-height: 1.5;
  
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
  }

  &::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: inherit;
    box-shadow: -2px -39px 0 0, -41px 28px 0 0;
    top: 50%;
    left: 50px;
    transform: translate(-50%, 0);
    font-size: 28px;
  }
  
  &::after {
    width: 1px;
    height: 77px;
    top: calc(50% - 5px);
    left: 10px;
    box-shadow: -1px 0 0 0;
    transform: rotate(30deg) translate(-50%, -50%);
  }
}

.section-title--en {
  font-size: var(--h2-en);
}

@include md {
  padding-top: 60px;
  padding-bottom: 60px;
}