@mixin share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 18px;
  transition: all 120ms;
  svg { display: block; }

  &, &:hover {
    color: inherit;
    text-decoration: none;
  }
}

@mixin share-button-colors ($color, $bg-color, $border-color: transparent) {
  fill: $color;
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
}

@mixin share-button-size($size) {
  width: $size;
  height: $size;
}

.social { display: flex; }
.social-list { display: inline-flex; }
.social-list > li { text-align: center; }
.social-list > li:not(:last-child) { margin-right: .5em; }
.social-bundle { display: flex; }
.social--has-count { min-height: 60px; }

.share-count { display: block; font-size: 12px; }
.share-button + .share-count { margin-top: 5px; }

.share-button {
  @include share-button;
  @include share-button-size(40px);
}

.share-button--white {
  @include share-button-colors(var(--gray-dark), rgba(255, 255, 255, 1));
  &:hover { @include share-button-colors(var(--gray-dark), rgba(255, 255, 255, .8)); }  
  & + .share-count { color: rgba(255, 255, 255, 1); }
  &:hover + .share-count { background-color: rgba(255, 255, 255, .8); }
}

.share-button--twitter {
  @include share-button-colors(white, var(--twitter));
  &:hover { @include share-button-colors(white, var(--twitter-hover)); }  
  & + .share-count { color: var(--twitter); }
  &:hover + .share-count { color: var(--twitter-hover); }
}

.share-button--facebook {
  @include share-button-colors(white, var(--facebook));
  &:hover { @include share-button-colors(white, var(--facebook-hover)); }  
  & + .share-count { color: var(--facebook); }
  &:hover + .share-count { color: var(--facebook-hover); }
}

.share-button--google-plus {
  @include share-button-colors(white, var(--google-plus));
  &:hover { @include share-button-colors(white, var(--google-plus-hover)); }  
  & + .share-count { color: var(--google-plus); }
  &:hover + .share-count { color: var(--google-plus-hover); }
}

.share-button--hatena {
  @include share-button-colors(white, var(--hatena));
  &:hover { @include share-button-colors(white, var(--hatena-hover)); }  
  & + .share-count { color: var(--hatena); }
  &:hover + .share-count { color: var(--hatena-hover); }
}

.outline-share-button {
  @include share-button;
  @include share-button-size(40px);
}

.outline-share-button--twitter {
  &:hover { @include share-button-colors(var(--twitter), transparent, var(--twitter)); }  
  &:hover + .share-count { color: var(--twitter); }
}

.outline-share-button--facebook {
  &:hover { @include share-button-colors(var(--facebook), transparent, var(--facebook)); }  
  &:hover + .share-count { color: var(--facebook); }
}

.outline-share-button--google-plus {
  &:hover { @include share-button-colors(var(--google-plus), transparent, var(--google-plus)); }  
  &:hover + .share-count { color: var(--google-plus); }
}

.outline-share-button--hatena {
  &:hover { @include share-button-colors(var(--hatena), transparent, var(--hatena)); }  
  &:hover + .share-count { color: var(--hatena); }
}

.outline-share-button--secondary {
  @include share-button-colors(var(--hatena), transparent, var(--hatena));
  &+ .share-count { color: var(--hatena); }
}

.outline-share-button--white {
  @include share-button-colors(white, transparent, white);
  & + .share-count { color: white; }
}
