.responsive-table {
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
}
.responsive-table-row {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.responsive-table-cell { padding: 10px 5px; }
.responsive-table-cell::before {
  content: attr(data-title);
  display: block;
  font-weight: bold;
}
.responsive-table-row--header { display: none; }

@include md {
  .responsive-table { display: table; }
  .responsive-table-row {
    display: table-row;
  }
  .responsive-table-cell {
    display: table-cell;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .responsive-table-cell::before { display: none; }
  .responsive-table-row--header { background-color: #f5f5f5; }

  .responsive-table--dark > .responsive-table-row--header { background-color: #ebebeb; }
}


.data-table {
  > thead > tr {
    > th, > td {
      background-color: var(--silver);
    }
  }
  > thead > tr,
  > tbody > tr {
    > th, > td {
      border-top-width: 1px;
      border-top-style: solid;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      padding: 10px 5px;
    }
  }
}