.tabs {
  width: 100%;
  overflow: auto;
  display: flex;
}

.tab {
  display: block;
  padding-left: var(--space-1);
  padding-right: var(--space-1);
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  padding: 0.5em;
  
  &, &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.tab:not(:last-child) {
  margin-right: 20px;
}

.tabs--secondary {
  > .tab--active {
    border-bottom-color: var(--secondary);
  }
}

.tab--active {
  border-bottom-color: var(--white);
}