.tags {
  margin: -0.375em;
  > .tag {
    margin: 0.375em;
  }
}

.tag {
  display: inline-block;
  --color: inherit;
  --background: var(--silver);
  --border: #dedede;
  color: var(--color);
  background-color: var(--background);
  border: 1px solid var(--border);
  padding: 0 .5em;
  font-size: 12px;
  line-height: 1.5;
}

.tag--rounded {
  border-radius: 0.375em;
}

// Sizes
.tag--small {
  padding: 0 .4em;
}

// Colors
.tag--blue {
  --color: var(--white);
  --background: #0c4bfe;
  --border: transparent;
}

.tag--red {
  --color: var(--white);
  --background: #e90e0e;
  --border: transparent;
}