// News
.news-list {}
.news-list-item:not(:last-child) { margin-bottom: 10px; }
.news-list-date { display: block; margin-right: 15px; white-space: nowrap; }
.news-list-label { display: block; }


// Tickets
.tickets {
  background: url(../images/index/tickets_bg.png) 50% 50%;
}

// About
.about {
  background: url(../images/index/about/about_bg_mobile.png) 50% 0;
}

.about-message {
  font-size: 20px;
  font-feature-settings: 'palt';
}

.access-map {
  min-height: var(--map-height);
}

.video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@include md {
  .about {
    background: url(../images/index/about/about_bg.png) 50% 50%;
  }

  .about-message {
    font-size: 28px;
  }

  .access-content {
    max-width: 500px;
    margin-left: auto;
  }
  
  .news-list-item { display: flex; }
}

@import 'index/speakers.scss';
@import 'index/sponsors.scss';
@import 'index/team.scss';