.login {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.login-box {
  max-width: 320px;
}

.login-content {
  position: relative;
  z-index: 1;
}

.login-background {
  position: absolute;
  z-index: -1;
  top: -100px;
  right: -100px;
  bottom: -100px;
  left: -100px;
}

@include md {
  .login {
    min-height: 478px + 30px;
  }
  .login::before {
    content: '';
    background: url(../images/login/dashboard_image.png) 0 100% no-repeat;
    background-size: contain;
    bottom: 0;
    width: 743px;
    height: 478px;
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 500px);
  }
  
  .login-box {
    margin-top: 30px;
  }
}