.timetable {}

.timetable-header {
  display: grid;
  grid-gap: 10px;
  padding-left: 80px;
  grid-template-columns: repeat(5, 1fr);
}

.timetable-header-item {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 2px;
  border-top-style: solid;
}

.timetable-header-item-track {
  font-size: 18px;
  font-weight: bold;
}

.timetable-header-item--track-a { border-top-color: var(--purple); }
.timetable-header-item--track-b { border-top-color: var(--cyan); }
.timetable-header-item--track-c { border-top-color: var(--green); }
.timetable-header-item--track-d { border-top-color: var(--orange); }
.timetable-header-item--track-e { border-top-color: var(--pink); }

.timetable-group { 
  border-top-width: 2px;
  border-top-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  display: var(--timetable-display);
}

.timetable-label {
  width: 80px;
}

.timetable-items {
  flex: 1;
  display: var(--timetable-items-display);
  grid-gap: 10px;
  grid-row-gap: 4px;
  grid-template-columns: repeat(5, 1fr);
}

.timetable-item {
  background-color: #fff;
  border-top: 2px solid transparent;
  padding: .5em;
  font-size: 14px;
  margin-bottom: 4px;
}

@for $i from 1 through 120 {
  $hour-height: 300px;
  $min-height: $hour-height / 60;
  @if $i % 5 == 0 {
    .timetable-items--#{$i}min { min-height: $i * $min-height; }
    .timetable-item--#{$i}min { min-height: $i * $min-height - 4px; }
  }
}

.timetable-item--rowspan-2 { grid-row: span 2; }
.timetable-item--track-a { border-top-color: var(--purple); grid-column: 1; }
.timetable-item--track-b { border-top-color: var(--cyan); grid-column: 2; }
.timetable-item--track-c { border-top-color: var(--green); grid-column: 3; }
.timetable-item--track-d { border-top-color: var(--orange); grid-column: 4; }
.timetable-item--track-e { border-top-color: var(--pink); grid-column: 5; }

@include until($breakpoint-md) {
  .timetable-header {
    display: none;
  }
  
  .timetable-items,
  .timetable-item {
    min-height: 0;
  }

  .timetable-items {
    padding-bottom: 3em;
  }

  .timetable-label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;
  }
}