@mixin align ($prefix: '') {
  .#{$prefix}align-baseline { vertical-align: baseline; }
  .#{$prefix}align-top { vertical-align: top; }
  .#{$prefix}align-middle { vertical-align: middle; }
  .#{$prefix}align-bottom { vertical-align: bottom; }
}