// Color
.black { color: var(--black); }
.white { color: var(--white); }
.silver { color: var(--silver); }
.cyan { color: var(--cyan); }
.gray { color: var(--gray); }
.gray-dark { color: var(--gray-dark); }
.gray-light { color: var(--gray-light); }
.primary { color: var(--primary); }
.secondary { color: var(--secondary); }

// Backgtound Color
.bg-black { background-color: var(--black); }
.bg-white { background-color: var(--white); }
.bg-silver { background-color: var(--silver); }
.bg-cyan { background-color: var(--cyan); }
.bg-gray { background-color: var(--gray); }
.bg-gray-dark { background-color: var(--gray-dark); }
.bg-gray-light { background-color: var(--gray-light); }
.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }