@mixin flex ($prefix: '') {
  .#{$prefix}flex { display: flex; }
  .#{$prefix}flex-column { flex-direction: column; }
  .#{$prefix}flex-wrap { flex-wrap: wrap; }
  .#{$prefix}items-start { align-items: flex-start; }
  .#{$prefix}items-end { align-items: flex-end; }
  .#{$prefix}items-center { align-items: center; }
  .#{$prefix}items-baseline { align-items: baseline; }
  .#{$prefix}items-stretch { align-items: stretch; }
  .#{$prefix}self-start { align-self: flex-start; }
  .#{$prefix}self-end { align-self: flex-end; }
  .#{$prefix}self-center { align-self: center; }
  .#{$prefix}self-baseline { align-self: baseline; }
  .#{$prefix}self-stretch { align-self: stretch; }
  .#{$prefix}justify-start { justify-content: flex-start; }
  .#{$prefix}justify-end { justify-content: flex-end; }
  .#{$prefix}justify-center { justify-content: center; }
  .#{$prefix}justify-between { justify-content: space-between; }
  .#{$prefix}justify-around { justify-content: space-around; }
  .#{$prefix}justify-evenly { justify-content: space-evenly; }
  .#{$prefix}content-start { align-content: flex-start; }
  .#{$prefix}content-end { align-content: flex-end; }
  .#{$prefix}content-center { align-content: center; }
  .#{$prefix}content-between { align-content: space-between; }
  .#{$prefix}content-around { align-content: space-around; }
  .#{$prefix}content-stretch { align-content: stretch; }
  .#{$prefix}flex-auto { flex: 1 1 auto; min-width: 0; min-height: 0; }
  .#{$prefix}flex-none { flex: none }
}

@include flex;
@include sm { @include flex(sm-); }
@include md { @include flex(md-); }
@include lg { @include flex(lg-); }