.mxn1 { margin-left: var(--negative-space-1); margin-right: var(--negative-space-1); }
.mxn2 { margin-left: var(--negative-space-2); margin-right: var(--negative-space-2); }
.mxn3 { margin-left: var(--negative-space-3); margin-right: var(--negative-space-3); }
.mxn4 { margin-left: var(--negative-space-4); margin-right: var(--negative-space-4); }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-cover {
  background-size: cover;
}
.bg-contain {
  background-size: contain;
}
.bg-center {
  background-position: center;
}

.clickable:hover {
  opacity: 0.8;
}
