.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@include xs { .xs-hide { display: none !important } }
@include sm-only { .sm-hide { display: none !important } }
@include md-only { .md-hide { display: none !important } }
@include lg { .lg-hide { display: none !important } }
