@mixin floats ($prefix: '') {
  .#{$prefix}clearfix::before,
  .#{$prefix}clearfix::after { content: ''; display: table; clear: both; }
  .#{$prefix}left { float: left; }
  .#{$prefix}right { float: right; }
}

@include floats;
@include sm { @include floats(sm-); }
@include md { @include floats(md-); }
@include lg { @include floats(lg-); }