@mixin margin ($prefix: '') {
  .#{$prefix}m0 { margin: 0; }
  .#{$prefix}m1 { margin: var(--space-1); }
  .#{$prefix}m2 { margin: var(--space-2); }
  .#{$prefix}m3 { margin: var(--space-3); }
  .#{$prefix}m4 { margin: var(--space-4); }

  .#{$prefix}mx0 { margin-left: 0; margin-right: 0; }
  .#{$prefix}mx1 { margin-left: var(--space-1); margin-right: var(--space-1); }
  .#{$prefix}mx2 { margin-left: var(--space-2); margin-right: var(--space-2); }
  .#{$prefix}mx3 { margin-left: var(--space-3); margin-right: var(--space-3); }
  .#{$prefix}mx4 { margin-left: var(--space-4); margin-right: var(--space-4); }

  .#{$prefix}my0 { margin-top: 0; margin-bottom: 0; }
  .#{$prefix}my1 { margin-top: var(--space-1); margin-bottom: var(--space-1); }
  .#{$prefix}my2 { margin-top: var(--space-2); margin-bottom: var(--space-2); }
  .#{$prefix}my3 { margin-top: var(--space-3); margin-bottom: var(--space-3); }
  .#{$prefix}my4 { margin-top: var(--space-4); margin-bottom: var(--space-4); }

  .#{$prefix}mt0 { margin-top: 0; }
  .#{$prefix}mt1 { margin-top: var(--space-1); }
  .#{$prefix}mt2 { margin-top: var(--space-2); }
  .#{$prefix}mt3 { margin-top: var(--space-3); }
  .#{$prefix}mt4 { margin-top: var(--space-4); }

  .#{$prefix}mr0 { margin-right: 0; }
  .#{$prefix}mr1 { margin-right: var(--space-1); }
  .#{$prefix}mr2 { margin-right: var(--space-2); }
  .#{$prefix}mr3 { margin-right: var(--space-3); }
  .#{$prefix}mr4 { margin-right: var(--space-4); }

  .#{$prefix}mb0 { margin-bottom: 0; }
  .#{$prefix}mb1 { margin-bottom: var(--space-1); }
  .#{$prefix}mb2 { margin-bottom: var(--space-2); }
  .#{$prefix}mb3 { margin-bottom: var(--space-3); }
  .#{$prefix}mb4 { margin-bottom: var(--space-4); }
  
  .#{$prefix}ml0 { margin-left: 0; }
  .#{$prefix}ml1 { margin-left: var(--space-1); }
  .#{$prefix}ml2 { margin-left: var(--space-2); }
  .#{$prefix}ml3 { margin-left: var(--space-3); }
  .#{$prefix}ml4 { margin-left: var(--space-4); }
  
  .#{$prefix}mn1 { margin: var(--negative-space-1); }
  .#{$prefix}mn2 { margin: var(--negative-space-2); }
  .#{$prefix}mn3 { margin: var(--negative-space-3); }
  .#{$prefix}mn4 { margin: var(--negative-space-4); }

  .#{$prefix}mxn1 { margin-left: var(--negative-space-1); margin-right: var(--negative-space-1); }
  .#{$prefix}mxn2 { margin-left: var(--negative-space-2); margin-right: var(--negative-space-2); }
  .#{$prefix}mxn3 { margin-left: var(--negative-space-3); margin-right: var(--negative-space-3); }
  .#{$prefix}mxn4 { margin-left: var(--negative-space-4); margin-right: var(--negative-space-4); }

  .#{$prefix}myn1 { margin-top: var(--negative-space-1); margin-bottom: var(--negative-space-1); }
  .#{$prefix}myn2 { margin-top: var(--negative-space-2); margin-bottom: var(--negative-space-2); }
  .#{$prefix}myn3 { margin-top: var(--negative-space-3); margin-bottom: var(--negative-space-3); }
  .#{$prefix}myn4 { margin-top: var(--negative-space-4); margin-bottom: var(--negative-space-4); }

  .#{$prefix}mtn1 { margin-top: var(--negative-space-1); }
  .#{$prefix}mtn2 { margin-top: var(--negative-space-2); }
  .#{$prefix}mtn3 { margin-top: var(--negative-space-3); }
  .#{$prefix}mtn4 { margin-top: var(--negative-space-4); }

  .#{$prefix}mrn1 { margin-right: var(--negative-space-1); }
  .#{$prefix}mrn2 { margin-right: var(--negative-space-2); }
  .#{$prefix}mrn3 { margin-right: var(--negative-space-3); }
  .#{$prefix}mrn4 { margin-right: var(--negative-space-4); }

  .#{$prefix}mbn1 { margin-bottom: var(--negative-space-1); }
  .#{$prefix}mbn2 { margin-bottom: var(--negative-space-2); }
  .#{$prefix}mbn3 { margin-bottom: var(--negative-space-3); }
  .#{$prefix}mbn4 { margin-bottom: var(--negative-space-4); }
  
  .#{$prefix}mln1 { margin-left: var(--negative-space-1); }
  .#{$prefix}mln2 { margin-left: var(--negative-space-2); }
  .#{$prefix}mln3 { margin-left: var(--negative-space-3); }
  .#{$prefix}mln4 { margin-left: var(--negative-space-4); }

  .#{$prefix}mx-auto { margin-left: auto; margin-right: auto; }
  .#{$prefix}ml-auto { margin-left: auto; }
  .#{$prefix}mr-auto { margin-right: auto; }
}

@mixin padding ($prefix: '') {
  .#{$prefix}p0 { padding: 0; }
  .#{$prefix}p1 { padding: var(--space-1); }
  .#{$prefix}p2 { padding: var(--space-2); }
  .#{$prefix}p3 { padding: var(--space-3); }
  .#{$prefix}p4 { padding: var(--space-4); }

  .#{$prefix}px0 { padding-left: 0; padding-right: 0; }
  .#{$prefix}px1 { padding-left: var(--space-1); padding-right: var(--space-1); }
  .#{$prefix}px2 { padding-left: var(--space-2); padding-right: var(--space-2); }
  .#{$prefix}px3 { padding-left: var(--space-3); padding-right: var(--space-3); }
  .#{$prefix}px4 { padding-left: var(--space-4); padding-right: var(--space-4); }

  .#{$prefix}py0 { padding-top: 0; padding-bottom: 0; }
  .#{$prefix}py1 { padding-top: var(--space-1); padding-bottom: var(--space-1); }
  .#{$prefix}py2 { padding-top: var(--space-2); padding-bottom: var(--space-2); }
  .#{$prefix}py3 { padding-top: var(--space-3); padding-bottom: var(--space-3); }
  .#{$prefix}py4 { padding-top: var(--space-4); padding-bottom: var(--space-4); }

  .#{$prefix}pt0 { padding-top: 0; }
  .#{$prefix}pt1 { padding-top: var(--space-1); }
  .#{$prefix}pt2 { padding-top: var(--space-2); }
  .#{$prefix}pt3 { padding-top: var(--space-3); }
  .#{$prefix}pt4 { padding-top: var(--space-4); }

  .#{$prefix}pr0 { padding-right: 0; }
  .#{$prefix}pr1 { padding-right: var(--space-1); }
  .#{$prefix}pr2 { padding-right: var(--space-2); }
  .#{$prefix}pr3 { padding-right: var(--space-3); }
  .#{$prefix}pr4 { padding-right: var(--space-4); }

  .#{$prefix}pb0 { padding-bottom: 0; }
  .#{$prefix}pb1 { padding-bottom: var(--space-1); }
  .#{$prefix}pb2 { padding-bottom: var(--space-2); }
  .#{$prefix}pb3 { padding-bottom: var(--space-3); }
  .#{$prefix}pb4 { padding-bottom: var(--space-4); }
  
  .#{$prefix}pl0 { padding-left: 0; }
  .#{$prefix}pl1 { padding-left: var(--space-1); }
  .#{$prefix}pl2 { padding-left: var(--space-2); }
  .#{$prefix}pl3 { padding-left: var(--space-3); }
  .#{$prefix}pl4 { padding-left: var(--space-4); }
}

@include margin;
@include padding;

@include sm {
  @include margin(sm-);
  @include padding(sm-);
}
@include md {
  @include margin(md-);
  @include padding(md-);
}
@include lg {
  @include margin(lg-);
  @include padding(lg-);
}