@mixin font-size ($prefix: '') {
  .#{$prefix}h1 { font-size: var(--h1); }
  .#{$prefix}h2 { font-size: var(--h2); }
  .#{$prefix}h3 { font-size: var(--h3); }
  .#{$prefix}h4 { font-size: var(--h4); }
  .#{$prefix}h5 { font-size: var(--h5); }
  .#{$prefix}h6 { font-size: var(--h6); }
  .#{$prefix}h1-en { font-size: var(--h1-en); }
  .#{$prefix}h2-en { font-size: var(--h2-en); }
  .#{$prefix}h3-en { font-size: var(--h3-en); }
  .#{$prefix}h4-en { font-size: var(--h4-en); }
  .#{$prefix}h5-en { font-size: var(--h5-en); }
  .#{$prefix}h6-en { font-size: var(--h6-en); }
}

@mixin typography ($prefix: '') {
  .#{$prefix}bold { font-weight: bold; }
  .#{$prefix}regular { font-weight: normal; }
  .#{$prefix}italic { font-style: italic; }
  .#{$prefix}caps { text-transform: uppercase; letter-spacing: 0.2em; }
  .#{$prefix}left-align { text-align: left; }
  .#{$prefix}center { text-align: center; }
  .#{$prefix}right-arign { text-align: right; }
  .#{$prefix}justify { text-align: justify; }
  .#{$prefix}nowrap { white-space: nowrap; }
  .#{$prefix}underline { text-decoration: underline; }
  .#{$prefix}truncate { max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
  .#{$prefix}font-family-inherit { font-family: inherit; }
  .#{$prefix}font-size-inherit { font-size: inherit; }
  .#{$prefix}text-decoration-none { text-decoration: none; }
}

@include font-size;
@include typography;

@include sm {
  @include font-size(sm-);
  @include typography(sm-);
}

@include md {
  @include font-size(md-);
  @include typography(md-);
}

@include lg {
  @include font-size(lg-);
  @include typography(lg-);
}

.title { font-weight: bold; }

.small { font-size: 12px; }