$breakpoint-sm: 480px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1000px !default;

@mixin from ($device) {
  @media screen and (min-width: $device) { @content; }
}
@mixin until ($device) {
  @media screen and (max-width: $device - 1px) { @content; }
}
@mixin inside($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max - 1px) { @content; }
}
@mixin xs {
  @include until($breakpoint-sm) { @content; }
}
@mixin sm-until {
  @include until($breakpoint-sm) { @content; }
}
@mixin sm-only {
  @include inside($breakpoint-sm, $breakpoint-md) { @content; }
}
@mixin sm {
  @include from($breakpoint-sm) { @content; }
}
@mixin md-until {
  @include until($breakpoint-md) { @content; }
}
@mixin md-only {
  @include inside($breakpoint-md, $breakpoint-lg) { @content; }
}
@mixin md {
  @include from($breakpoint-md) { @content; }
}
@mixin lg-until {
  @include until($breakpoint-lg) { @content; }
}
@mixin lg {
  @include from($breakpoint-lg) { @content; }
}
