span.
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16">
    <metadata>
      <?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
      <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <rdf:Description rdf:about=""/>
        </rdf:RDF>
      </x:xmpmeta>
      <?xpacket end="w"?>
    </metadata>
    <defs></defs>
    <path id="hatena" data-name="hatena" class="cls-1" d="M11.581,9.252A3.279,3.279,0,0,0,10.9,8.221a3.479,3.479,0,0,0-.984-0.7L9.82,7.47c0.027-.018.051-0.036,0.075-0.055a3.4,3.4,0,0,0,.762-0.8,3.353,3.353,0,0,0,.451-0.994,4.122,4.122,0,0,0,.142-1.08A3.059,3.059,0,0,0,9.817,1.788,7.331,7.331,0,0,0,5.866.929H0.752V15.071H5.61a8.032,8.032,0,0,0,4.548-1.1,3.87,3.87,0,0,0,1.673-3.4A3.384,3.384,0,0,0,11.581,9.252Zm-7.29-.071h1.3A3.5,3.5,0,0,1,7.525,9.6a1.146,1.146,0,0,1,.53,1.016,1.4,1.4,0,0,1-.132.609,1.387,1.387,0,0,1-.4.492,2.044,2.044,0,0,1-.693.35A3.57,3.57,0,0,1,5.8,12.2H4.291V9.181ZM7.474,5.554a1.072,1.072,0,0,1-.31.435,1.705,1.705,0,0,1-.613.325,3.375,3.375,0,0,1-1.007.129H4.291v-2.7H5.545a4.254,4.254,0,0,1,1.02.1,1.8,1.8,0,0,1,.618.267,0.846,0.846,0,0,1,.294.35,1.272,1.272,0,0,1,.1.518A1.582,1.582,0,0,1,7.474,5.554Zm9.774,7.666A1.844,1.844,0,1,1,15.4,11.367,1.848,1.848,0,0,1,17.248,13.22ZM17.18,10.331H13.629v-9.4H17.18v9.4Z"/>
  </svg>
