.field.border-top.border-bottom
  .field-label
    label スライドURL
  .field-body
    el-input(placeholder="セッションスライドが公開されているURL")

.field.border-bottom
  .field-label
    label 動画URL
  .field-body
    el-input(placeholder="動画が公開されているURL")

.field.border-bottom
  .field-label
    label 同時通訳
  .field-body
    el-checkbox YES, we have interpretation (Only administrators can set this.)

.field.border-bottom
  .field-label
    label 撮影許可
  .field-body
    p.mb1 以下の「許可」を選択することによりbuildersconがイベント会期中にあなたの写真を撮影すること、およびそれらの写真をbuilderscon関連のサイト上に配置したり、同サイトから配信することを許諾したものと見なされます。
    div
      el-radio 許可
      el-radio 不許可

.field.border-bottom
  .field-label
    label 録画許可
  .field-body
    p.mb1 以下の「許可」を選択することによりbuildersconがイベント会期中にあなたの講演を動画撮影すること、およびそれらの動画をbuilderscon関連のサイト上に配置したり、同サイトから配信することを許諾したものと見なされます。
    div
      el-radio 許可
      el-radio 不許可

.field.border-bottom
  .field-label
    label 素材利用許可
  .field-body
    p.mb1 以下の「許可」を選択することによりbuildersconがイベント会期中にあなたの講演の素材（スライド等）をbuilderscon関連のサイト上に配置したり、同サイトから配信することを許諾したものと見なされます。
    div
      el-radio 許可
      el-radio 不許可

