.field.border-top.border-bottom
  .field-label
    label.label タイトル
  .field-body
    el-input(placeholder="セッションタイトルを入力ください")

.field.border-bottom
  .field-label
    label.label 概要
  .field-body
    el-input(type="textarea", placeholder="セッション概要を入力ください", rows="15")

.field.border-bottom
  .field-label
    label.label セッション種別
  .field-body
    el-select

.field.border-bottom
  .field-label
    label.label レベル
  .field-body
    el-select

.field.border-bottom
  .field-label
    label.label 講演に使用される言語
  .field-body
    el-select

.field.border-bottom
  .field-label
    label.label スライド言語
  .field-body
    el-select

.field.border-bottom
  .field-label
    label.label コメント
  .field-body
    el-input(type="textarea", placeholder="イベント運営スタッフに伝えたい連絡事項等をご記入ください。例：ドキュメント等の準備、登壇できる・できない日程等", rows="5")