.social
  ul.social-list
    li
      a.share-button.share-button--twitter(
        href="https://twitter.com/share?url={{ canonical_url }}&via=builderscon.io&related=builderscon&hashtags=builderscon",
        rel="nofollow",
        target="_blank")
        i.fab.fa-twitter
    li
      a.share-button.share-button--facebook(
        href="http://www.facebook.com/share.php?u={{ canonical_url }}",
        rel="nofollow",
        target="_blank")
        i.fab.fa-facebook-f
    li
      a.share-button.share-button--hatena(
        href="http://b.hatena.ne.jp/add?mode=confirm&url={{ canonical_url }}",
        target="_blank",
        rel="nofollow")
        include ico-hatena