.social
  ul.social-list
    li
      a.share-button.share-button--white(
        href="https://twitter.com/share?url={{ canonical_url }}&via=builderscon&related=builderscon&hashtags=#builderscon",
        rel="nofollow",
        target="_blank")
        i.fab.fa-twitter
    li
      a.share-button.share-button--white(
        href="http://www.facebook.com/share.php?u={{ canonical_url }}",
        rel="nofollow",
        target="_blank")
        i.fab.fa-facebook-f
