.social.social--has-count
  ul.social-list
    li(v-show='visibleShare || isDesktop', v-cloak="")
      a.outline-share-button.outline-share-button--white(href="#")
        i.fab.fa-twitter
    li(v-show='visibleShare || isDesktop', v-cloak="")
      a.outline-share-button.outline-share-button--white(href="#")
        i.fab.fa-facebook-f
      span.share-count 0
    li(v-show='visibleShare || isDesktop', v-cloak="")
      a.outline-share-button.outline-share-button--white(href="#")
        i.fab.fa-google-plus-g
      span.share-count 0
    li(v-show='visibleShare || isDesktop', v-cloak="")
      a.outline-share-button.outline-share-button--white(href="#")
        include ico-hatena
      span.share-count 0
    li(v-if="isMobile", v-cloak="")
      a.outline-share-button.outline-share-button--white(href="#", @click="visibleShare = !visibleShare")
        i.fas.fa-times(v-if="visibleShare", v-cloak="")
        i.fas.fa-share-alt(v-else="", v-cloak="")