*, *::before, *::after {
  border-color: var(--border-color);
}

html {
  background-color: var(--silver);
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  overflow-x: hidden;
  line-height: var(--line-height);
  font-size: var(--font-size);
  letter-spacing: 0.05em;
}

a {
  color: var(--link);
  text-decoration: none;
  &:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }
}

.anchor-reset {
  &, &:hover {
    color: inherit;
    text-decoration: none;
  }
}

[v-cloak] {
  display: none;
}