.speaker-profile {}
.speaker-name {
  position: relative;
  font-weight: bold;
  padding-bottom: 15px;
  margin-bottom: 15px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75px;
    height: 4px;
    background-color: var(--secondary);
  }
}
.speaker-intro {}