.sponsors {
  text-align: center;
  margin-bottom: var(--space-3);

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
.sponsors ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sponsors--small ul {
  grid-template-columns: repeat(5, 1fr);
}
.sponsors--mini ul {
  grid-template-columns: repeat(7, 1fr);
}
.sponsors--small ul li {
    padding: 10px;
}
.sponsors--mini ul li {
    padding: 10px;
}

@include md-until {
  .sponsors ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .sponsors--small ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsors--mini ul {
    grid-template-columns: repeat(3, 1fr);
  }
}