.members {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.members ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  margin-bottom: var(--space-3);
}
@include md-until {
  .members ul {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
}