<template>
  <span>{{ format(date) }}</span>
</template>

<script>
const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
const wdays  = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

function format(datestr) {
  const d = new Date(datestr)
  const month = d.getMonth()
  const day = d.getDate()
  const wday = d.getDay()

  let str = months[month] + " "
  if (day < 10) {
    str += " "
  }
  str += day + " (" + wdays[wday] + ") "
  return str
}


export default {
  props: ['date'],
  data() {
    return {
      'format': format
    }
  }
}
</script>
