<template lang="pug">
section#sponsors.section.bg-white.px2(v-if="sponsors && Object.keys(sponsors).length > 0")
  .container
    h2.h2-en.section-title.secondary.mb3 SPONSORS
    .sponsors(v-if="Array.isArray(sponsors['tier-1']) && sponsors['tier-1'].length > 0")
      ul
        li(v-for=`sponsor in sponsors['tier-1']`, v-bind:key="sponsor.id")
          a(v-bind:href="sponsor.url")
            img(v-bind:src="require('~/assets/images/sponsor/' + sponsor.id + '.jpg')", alt="")
    .sponsors.sponsors--small(v-if="Array.isArray(sponsors['tier-2']) && sponsors['tier-2'].length > 0")
      ul
        li(v-for=`sponsor in sponsors['tier-2']`, v-bind:key="sponsor.id")
          a(v-bind:href="sponsor.url")
            img(v-bind:src="require('~/assets/images/sponsor/' + sponsor.id + '.jpg')", alt="")
    .sponsors.sponsors--mini(v-if="Array.isArray(sponsors['tier-3']) && sponsors['tier-3'].length > 0")
      ul
        li(v-for=`sponsor in sponsors['tier-3']`, v-bind:key="sponsor.id")
          a(v-bind:href="sponsor.url")
            img(v-bind:src="require('~/assets/images/sponsor/' + sponsor.id + '.jpg')", alt="")
</template>

<script>
export default {
  props: ['sponsors']
}
</script>
