<template lang="pug">
section#about.section.about.white.px2(v-if="conference")
  .container
    .md-columns
      .column
        h2.h2-en.section-title.mb3 ABOUT
        p.about-message.mb3(v-html=`$t('builderscon is a place to<br>"Discover Something New"<br>Celebrate the "builders" of our age<br>and the technology that they build.')`)
      .column.md-pt2
        p.mb2
          | {{ $t(`At builderscon we do not focus on a particular technology stack or a programming language. We only ask you that you bring something that excites the geeks in us.`) }}
        p.mb2
          | {{ $t(`Show us your crazy hacks, dive deep into a language that you love, show us a glimpse of a future technology. We want to see you share the problems you faced, and how you overcame them.`) }}
        p.mb2
          | {{ $t(`Please come and share your passion at builderscon!`) }}
        p.center.md-left-align(v-if="conference.tickets_on_sale")
          a.button.button--primary(href="#") {{ $t("Tickets") }}
</template>

<script>
export default {
  props: ['conference']
}
</script>
