<template lang="pug">
section#access.access.bg-secondary.white
  .md-flex
    .md-col-6.px2.md-px2
      .access-content.section.ml-auto
        h2.h2-en.section-title.mb3 DATES &amp; ACCESS
        h3.h4.bold.mb1 DATES
        p.h2.mb3(v-if=`conference.dates`) 
          span(v-for=`(date, index) in conference['dates']`, v-bind:key="date")
            | {{ formatDate(date) }}
            <template v-if="index + 1 < conference['dates'].length">, </template>
        h3.h4.bold.mb1 PLACE
        div(v-for=`venue in conference['venues']`)
          p.h2 {{ venue.name }}
            p
              | {{ venue.address }}
              br
              | {{ venue.url }}
    .md-col-6
      .access-map.relative
        #map.overlay
</template>

<script>
const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
export default {
  props: ['conference'],
  data() {
    return {
      formatDate: (d) => {
        const dt = new Date(d.open)
        return months[dt.getMonth()] + " " + dt.getDate()
      }
    }
  }
}
</script>
