<template lang="pug">
section#external_resources.section.bg-white.px2(v-if="conference.external_resources && conference.external_resources.length > 0")
  .container
    .md-columns
      .md-column.md-column-2
        h2.h2-en.section-title.secondary.mb3 LINKS
      .md-column.md-column-10
        .news
          ul.news-list(v-for="entry in conference.external_resources")
            li.news-list-item
              .news-list-date.md-column.md-column-2
                a(v-bind:href="entry.url")
                  img(v-bind:src="entry.image_url")
              .md-column.md-column-8.news-list-label
                .news-title(style="font-weight: bold")
                  a(v-bind:href="entry.url")
                    | {{ entry.title }}
                .news-body
                  | {{ entry.description }}
            |
</template>

<script>
export default {
  props: {'conference': {'default': {}}},
}
</script>
