<template lang="pug">
section.mainvisual.bg-white
  .mainvisual-content.overlay
    .mainvisual-share
      social-buttons(v-bind:canonical_url=canonical_url)
    picture.mainvisual-image.mx-auto
      source(media="(min-width: 768px)", src="~/assets/images/index/main.png", srcset="~/assets/images/index/main.png")
      img(srcset=mobile_image + ', ' + mobile_image2x + ' 2x', alt="builderscon tokyo 2019 Discover Something New")
  #particles.mainvisual-background
</template>

<script>
import SocialButtons from '@/components/Social.vue'
import DesktopImage from '@/assets/images/index/main.png'

export default {
  components: {
    'social-buttons': SocialButtons
  },
  props: ['canonical_url'],
  data () {
    return {
      name: 'MainVisual'
    }
  }
}
</script>
