<template>
<section id="news" class="section bg-silver px2" f="news.length > 0">
  <div class="container">
    <div class="md-columns">
      <div class="md-column md-column-2">
        <h2 class="h2-en section-title secondary mb3">NEWS</h2>
      </div>
      <div class="md-column md-column-10">
        <div class="news">
          <ul class="news-list" v-for="entry in news">
            <li class="news-list-item">
              <span class="news-list-date"><formatted-conference-date :date="entry.created_on"></formatted-conference-date></span>
              <span class="news-list-label">
                <span class="news-title" style="font-weight: bold">{{ entry.title }}</span>
                <span class="news-body" v-html='$options.filters.remark(entry.body)'></span>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
</template>

<script>
import FormattedConferenceDate from '@/components/FormattedConferenceDate'
import axios from 'axios'

export default {
  props: ['conference'],
  components: {
     'formatted-conference-date': FormattedConferenceDate
  },
  data() {
    return {
      'news': []
    }
  },
  watch: {
    conference(newval) {
      this.updateNews(newval.id)
     }
  },
  methods: {
    updateNews(id) {
      let vm = this
      axios
        .get('https://api.builderscon.io/v2/conference/news/list?lang=ja&conference_id=' + id)
        .then(response => {
          vm.news = response.data
        })
    }
  }
}
</script>
