<template lang="pug">
section#speakers.section.px2(v-if="conference && conference.featured_speakers")
  .container
    h2.h2-en.section-title.secondary.mb3 GUEST SPEAKERS
    .columns#guest-speakers.columns--wrap
      .column.column-12.md-column-6.mb3(v-for="speaker in conference.featured_speakers")
        .speaker
          .speaker-profile.columns.items-center
            .speaker-avatar.column.column-6
              img.block(v-bind:src="require('~/assets/images/speaker/' + speaker.id + '.jpg')", v-bind:alt='speaker.display_name')
            .speaker-data.column.column-6.en
              h3.h3-en.speaker-name {{ speaker.display_name }}
              template(v-if='speaker.affiliation')
                p.h3-en {{ speaker.affiliation }}
          .speaker-intro.mt2(v-html='$options.filters.remark(speaker.description)')
    .md-columns.justify-center(v-if="conference.timetable_available")
      .md-column.md-column-3.mb1.center
        a.button.button--secondary.col-10.sm-col-6.md-col-12(v-bind:href="'/' + conference.slug + '/timetable'") タイムテーブルへ
      .md-column.md-column-3.mb1.center
        a.button.button--secondary.col-10.sm-col-6.md-col-12(v-bind:href="'/' + conference.slug + '/sessions'") セッション一覧へ
</template>

<script>
export default {
  props: ['conference']
}
</script>
