<template lang="pug">
section#team.section.bg-silver.px2
  .container.mb4
    h2.h2-en.section-title.secondary.mb3 TEAM
    h3.h3-en.bold.mb2 STAFF
    .members
      ul
        li(v-for="member in conference.staff")
          img.avatar(v-bind:src='`/sharaq/small/https%3A%2F%2Fapi.builderscon.io%2Fv2%2Fuser%2Favatar%3Fid=${member.id}`', alt="")
  .container
    .md-columns
      .md-column.md-column-4.mb3.md-mb0.flex.flex-column
        .flex-auto.contact.bg-secondary.white.p2
          h3.h3-en.bold.mb1 CONTACT
          p.mg2 {{ conference.contact_information }}
      .md-column.md-column-4.mb3.md-mb0.center.
        <a class="twitter-timeline"
          href="https://twitter.com/builderscon?ref_src=twsrc%5Etfw"
          data-width="340"
          data-height="380">Tweets by builderscon</a>
      .md-column.md-column-4.mb3.md-mb0.center.
        <div class="fb-page"
          data-href="https://www.facebook.com/builderscon/"
          data-tabs="timeline"
          data-small-header="false"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="true"
          data-width="340"
          data-height="380">
          <blockquote cite="https://www.facebook.com/builderscon/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/builderscon/">Builderscon</a></blockquote>
        </div>
</template>

<script>
export default {
  props: ['conference']
}
</script>
