<template>
<section class="topics bg-white py2">
  <div class="container">
    <p class="center mb2 bold">
      <span class="h2-en" v-for="date in conference.dates" :key="date.id">
        <formatted-conference-date :date="date.open"></formatted-conference-date>
      </span>
    </p>
    <p class="center mb2 h2">
      <span v-for="venue in conference.venues" :key="venue.id">＠{{ venue.name }}</span>
    </p>
    <div class="md-columns justify-center">
      <div class="md-column md-column-3 mb1 center">
        <a class="button button--secondary col-10 sm-col-6 md-col-12" href="http://blog.builderscon.io">
          {{ $t('Blog') }}
        </a>
      </div>
      <div class="md-column md-column-3 mb1.center">
        <a class="button button--secondary col-10 sm-col-6 md-col-12" href="https://twitter.com/builderscon">
          {{ $t('Twitter') }}
        </a>
      </div>
    </div>
  </div>
</section>
</template>

<script>
import FormattedConferenceDate from '@/components/FormattedConferenceDate'

export default {
  props: ['conference'],
  components: {
     'formatted-conference-date': FormattedConferenceDate
  },
  data () {
    return {
      name: 'Topics'
    }
  }
}
</script>
