$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1000px;

:root {
  // Fonts
  --font-size: 12px;
  --font-size-small: 12px;
  --line-height: 1.666;
  --font-family: 'ヒラギノ角ゴ Pro W3', 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', 'メイリオ', sans-serif;
  --font-family-ja: var(--font-family);
  --font-family-en: 'Roboto', sans-serif;

  // Sizes
  --h1: 25px;
  --h2: 22px;
  --h3: 12px;
  --h4: 12px;
  --h5: 14px;
  --h6: 14px;
  --h1-en: 25px;
  --h2-en: 24px;
  --h3-en: 12px;
  --h4-en: 12px;
  --h5-en: 14px;
  --h6-en: 14px;

  // Width
  --content-width: 1000px;

  // Space
  --space-1: 10px;
  --space-2: 20px;
  --space-3: 30px;
  --space-4: 60px;
  --negative-space-1: -10px;
  --negative-space-2: -20px;
  --negative-space-3: -30px;
  --negative-space-4: -60px;
  
  // Colors
  --black: #000;
  --white: #fff;
  --silver: #f5f5f5;
  --gray-dark: #404040;
  --gray: #808080;
  --gray-light: #999999;
  --purple: #7901e9;
  --cyan: #00b4ff;
  --green: #12f195;
  --orange: #ff7403;
  --pink: #f21c77;
  
  --primary: #ff3204;
  --secondary: #0042ff;
  --muted: #808080;
  
  --twitter: #00aced;
  --twitter-hover: #50c7f4;
  --facebook: #3b5998;
  --facebook-hover: #4770c4;
  --google-plus: #d34836;
  --google-plus-hover: #eb6354;
  --hatena: #008fde;
  --hatena-hover: #3aabea;
  --github: #000;
  --github-hover: #000;
  
  --link: #00a0f3;
  --link-hover: #6acafc;
  --text-color: var(--black);

  // Border
  --border-color: #dedede;

  // MainVisulal
  --mainvisual-padding: 90.625%;
  --mainvisual-min-height: 360px;
  --mainvisual-max-height: 575px;
  --mainvisual-image-width: 95.3125%;
  --mainvisual-image-top: 13%;
  --mainvisual-align: flex-start;
  --mainvisual-share-top: 75%;
  --mainvisual-share-justify: center;
  
  // Access
  --map-height: 230px;
  
  // Timetable
  --timetable-display: block;
  --timetable-items-display: block;
}

// md
@include md {
  :root {
    // Fonts
    --font-size: 16px;
    --font-size-large: 18px;
    --font-size-small: 12px;
    --line-height: 1.6875;
    
    --h1: 36px;
    --h2: 24px;
    --h3: 16px;
    --h4: 14px;
    --h5: 14px;
    --h6: 14px;
    --h1-en: 36px;
    --h2-en: 28px;
    --h3-en: 18px;
    --h4-en: 14px;
    --h5-en: 14px;
    --h6-en: 14px;
    
    // MainVisulal
    --mainvisual-padding: 39.194%;
    --mainvisual-min-height: 400px;
    --mainvisual-max-height: 550px;
    --mainvisual-image-width: 100%;
    --mainvisual-image-top: 2%;
    --mainvisual-align: center;
    --mainvisual-share-top: 5.454%;
    --mainvisual-share-justify: flex-end;
    
    // Access 
    --map-height: 460px;

    // Timetable
    --timetable-display: flex;
    --timetable-items-display: grid;
  }
}
