@mixin columns ($gap: 0, $prefix: '') {
  .#{$prefix}columns {
    display: flex;
    margin-left: -$gap / 2;
    margin-right: -$gap / 2;
  }
  .#{$prefix}columns--center { justify-content: center; }
  .#{$prefix}columns--left { justify-content: flex-start; }
  .#{$prefix}columns--right { justify-content: flex-end }
  .#{$prefix}columns--top { align-items: flex-start; }
  .#{$prefix}columns--middle { align-items: center; }
  .#{$prefix}columns--bottom { align-items: flex-end; }
  .#{$prefix}columns--wrap { flex-wrap: wrap; }
  .#{$prefix}columns--gapless { margin: 0; }
  .#{$prefix}columns--gapless > .column { padding: 0; }
}

@mixin column ($gap: 0, $prefix: '') {
  .#{$prefix}column {
    flex: 1 1 0;
    padding-left: $gap / 2;
    padding-right: $gap / 2;
  }
  .#{$prefix}column--narrow { flex: none; }

  @for $i from 1 through 12 {
    .#{$prefix}column-#{$i} {
      flex: none; 
      width: 100% / 12 * $i;
    }
    .#{$prefix}column-offset-#{$i} { margin-left: 100% / 12 * $i; }
  }
}

@include column(20px);
@include columns(20px);

@include md {
  @include column(25px, md-);
  @include columns(25px, md-);
}