.footer {
  color: var(--white);
  background-color: var(--gray-dark);
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-menu {
  a, a:hover {
    color: var(--white);
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer-menu-label {
  color: var(--gray-light);
}