.header {
  width: 100%;  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.header.show-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

body.has-header { padding-top: 50px; }

.header-content {
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  display: flex;
  align-items: center;
}

@include md {
  body.has-header { padding-top: 75px; }  
  .header-content { height: 75px; }
  .header-menu ul { display: flex; }
  .header-menu li:not(:last-child) { margin-right: 25px; }
}

.headroom--not-top { position: fixed; }
.header:not(.show-menu) {
  &.headroom--not-top .header-content { transition: all .5s; }
  &.headroom--pinned .header-content { transform: translateY(0); }
  &.headroom--unpinned .header-content { transform: translateY(-100%); }
}