<template>
  <div>
    <h1>{{ conference.title }}</h1>
    <header class="header" id="header" ref="header" :class="{ 'show-menu': visibleMenu &amp;&amp; isMobile }">
      <div class="header-content px2">
        <div class="navbar">
          <a class="navbar-brand" :href="'/' + conference.slug" v-if="!visibleMenu || isDesktop">
            <picture class="block">
              <source media="(min-width: 768px)" srcset="/static/v2019/assets/images/header_logo.png, /static/v2019/assets/images/header_logo@2x.png 2x"><img srcset="/static/v2019/assets/images/header_logo_mobile.png, /static/v2019/assets/images/header_logo_mobile@2x.png 2x" alt="">
            </picture>
          </a>
          <transition name="menu">
            <nav class="header-menu" role="navigation" :class="{ 'header-menu--mobile': isMobile }" v-show="isDesktop || visibleMenu" v-cloak>
              <ul>
                <li><a v-bind:href="'/' + conference.slug " @click="visibleMenu = false">TOP</a></li>
                <li v-if="conference.tickets_on_sale"><a href="./#tickets" @click="visibleMenu = false" ignore-v-scroll="">TICKETS</a></li>
                <li v-if="conference.timetable_available"><a v-bind:href="'/' + conference.slug + '/timetable'">TIMETABLE</a></li>
                <li><a v-bind:href="'/' + conference.slug + '/sessions'">SESSIONS</a></li>
                <li><a href="./#access" @click="visibleMenu = false" ignore-v-scroll="">ACCESS</a></li>
                <li><a href="/login">LOGIN</a></li>
              </ul>
              <div class="header-menu-bg"></div>
            </nav>
          </transition>
          <div class="navbar-item" v-if="!visibleMenu || isDesktop">
            <a v-if="conference.tickets_on_ssale" class="button button--primary" href="https://www.eventbrite.com/e/builderscon-tokyo-2019-tickets-42183792860?ref=elink">{{ $t('Tickets') }}</a>
          </div>
          <div class="navbar-item" v-if="isMobile" v-cloak>
            <div class="menu-trigger" @click="visibleMenu = !visibleMenu"><i class="fas fa-times white" v-if="visibleMenu"></i><i class="fas fa-bars" v-else=""></i></div>
          </div>
        </div>
      </div>
    </header>

    <index-main-visual        :canonical_url='"https://builderscon.io/tokyo/2019"'></index-main-visual>
    <index-topics             :conference="conference"></index-topics>
    <index-news               :conference="conference"></index-news>
    <index-external-resources :conference="conference"></index-external-resources>
    <index-about              :conference="conference"></index-about>
    <index-speakers           :conference="conference"></index-speakers>
    <index-access             :conference="conference"></index-access>
    <sponsor-list             :sponsors="sponsors"></sponsor-list>
    <index-team               :conference="conference"></index-team>
  </div>
</template>

<script>
import ConferenceView from '@/components/conference.js'
import SponsorView from '@/components/SponsorView'
import IndexMainVisual from '@/components/index/MainVisual'
import IndexTopics from '@/components/index/Topics'
import IndexNews from '@/components/index/News'
import IndexExternalResources from '@/components/index/ExternalResources'
import IndexAbout from '@/components/index/About'
import IndexSpeakers from '@/components/index/Speakers'
import IndexAccess from '@/components/index/Access'
import IndexTeam from '@/components/index/Team'

export default {
  extends: ConferenceView,
  components: {
    'sponsor-list': SponsorView,
    'index-main-visual': IndexMainVisual,
    'index-topics': IndexTopics,
    'index-news': IndexNews,
    'index-external-resources': IndexExternalResources,
    'index-about': IndexAbout,
    'index-speakers': IndexSpeakers,
    'index-access': IndexAccess,
    'index-team': IndexTeam
  },
  data () {
    return {
      visibleMenu: false
    }
  },
  computed: {
    isDesktop () {
      return this.windowMode === 'Desktop'
    },
    isMobile () {
      return this.windowMode === 'Mobile'
    }
  },
  watch: {
    isDesktop (newVal) {
      if (newVal && this.visibleMenu) {
        this.visibleMenu = false
      }
    }
  },
  head: {
    meta: [
      { id: 'og-image', property: 'og:image', content: '/static/v2019/assets/images/ogp.png' }

    ]
  }
}
</script>
