<template>
  <div class="hello">
    <div>
      <h2>Conferences</h2>
      <ul v-for="conference in conferences" v-bind:key="conference.id">
        <li><a v-bind:href="conference.full_slug">{{ conference.title }}</a></li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Vue from 'vue'

export default {
  name: 'Index',
  data () {
    return {
      conferences: [],
      ogp_image: '/static/images/hex_logo.png',
      title: 'Discover Something New'
    }
  },
  head: {
    meta: [
      { hid: 'og-type', property: 'og:type', content: 'website' }
    ]
  },
  mounted () {
    axios
      .get('https://api.builderscon.io/v2/conference/list')
      .then(response => {
        this.conferences = response.data
      })
  }
}
</script>
